/*.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #a7a9aa;
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
}



.btn:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.btn:hover,
.btn:focus {
	color: #fff;
	text-decoration: none;
}

.btn:active,
.btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}



.btn {
	color: #ffffff;
	background-color: #a7a9aa;
	border-color: #a7a9aa;
	background-image: none;
	filter: none;
	text-shadow: none;
}

.btn:hover,
.btn:focus,
.btn:active {
	background-color: #9a9c9d;
	border-color: #8d9091;
}

.btn.disabled:hover,
.btn[disabled]:hover,
fieldset[disabled] .btn:hover,
.btn.disabled:focus,
.btn[disabled]:focus,
fieldset[disabled] .btn:focus,
.btn.disabled:active,
.btn[disabled]:active,
fieldset[disabled] .btn:active {
	background-color: #a7a9aa;
	border-color: #a7a9aa;
}

.btn-primary {
	background-color: #2D89EF;
	border-color: #2D89EF;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	background-color: #357ebd;
	border-color: #3071a9;
}

.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active {
	background-color: #2D89EF;
	border-color: #2D89EF;
}

.btn-warning {
	background-color: #FFC40D;
	border-color: #FFC40D;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
	background-color: #eea236;
	border-color: #ec971f;
}

.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active {
	background-color: #FFC40D;
	border-color: #FFC40D;
}

.btn-danger {
	background-color: #EB3C00;
	border-color: #EB3C00;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
	background-color: #d43f3a;
	border-color: #c9302c;
}

.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active {
	background-color: #EB3C00;
	border-color: #EB3C00;
}

.btn-success {
	background-color: #00A300;
	border-color: #00A300;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
	background-color: #4cae4c;
	border-color: #449d44;
}

.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active {
	background-color: #00A300;
	border-color: #00A300;
}

.btn-info {
	background-color: #5bc0de;
	border-color: #5bc0de;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active {
	background-color: #46b8da;
	border-color: #31b0d5;
}

.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active {
	background-color: #5bc0de;
	border-color: #5bc0de;
}

.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
	background-color: transparent;
	background-image: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
	border-color: transparent;
}

.btn-link {
	font-weight: normal;
	color: #2D89EF;
	cursor: pointer;
	border-radius: 0;
}

.btn-link:hover,
.btn-link:focus {
	color: #2a6496;
	text-decoration: underline;
	background-color: transparent;
}

.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
	color: #333333;
	text-decoration: none;
}*/


/* Alert Boxes
=================================================================== */


/*.alert {
	font-family: Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 15px;
	position: relative;
	padding: 14px 40px 14px 18px;
	-webkit-box-shadow:  0px 1px 1px 0px rgba(180, 180, 180, 0.1);
	box-shadow:  0px 1px 1px 0px rgba(180, 180, 180, 0.1);
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

.alert.alert-success {
	background-color: #edf6e5 !important;
	color: #7a9659 !important;
	border: 1px solid #9fc76f !important;
}

.alert.alert-error {
	background-color: #fdeaea !important;
	color: #ca6f74 !important;
	border: 1px solid #f27b81 !important;
}

.alert {
	background-color: #fffee1 !important;
	color: #daac50 !important;
	border: 1px solid #f5c056 !important;
}

.alert.alert-info {
	background-color: #e9f8ff !important;
	color: #5d9fa9 !important;
	border: 1px solid #75c7d3 !important;
}*/


/* Tables
=================================================================== */

.table th,
.table td {
	border-top: 1px solid #eee;
}

.table-bordered {
	border-color: #eee;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}

.table-bordered th,
.table-bordered td {
	border-left: 1px solid #eee;
}

.table-bordered thead:first-child tr:first-child> th:first-child,
.table-bordered tbody:first-child tr:first-child> td:first-child,
.table-bordered tbody:first-child tr:first-child> th:first-child {
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}

.table-bordered thead:first-child tr:first-child> th:last-child,
.table-bordered tbody:first-child tr:first-child> td:last-child,
.table-bordered tbody:first-child tr:first-child> th:last-child {
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}

.table-bordered thead:last-child tr:last-child> th:first-child,
.table-bordered tbody:last-child tr:last-child> td:first-child,
.table-bordered tbody:last-child tr:last-child> th:first-child,
.table-bordered tfoot:last-child tr:last-child> td:first-child,
.table-bordered tfoot:last-child tr:last-child> th:first-child {
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}

.table-bordered thead:last-child tr:last-child> th:last-child,
.table-bordered tbody:last-child tr:last-child> td:last-child,
.table-bordered tbody:last-child tr:last-child> th:last-child,
.table-bordered tfoot:last-child tr:last-child> td:last-child,
.table-bordered tfoot:last-child tr:last-child> th:last-child {
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}

.table-bordered tfoot+ tbody:last-child tr:last-child td:first-child {
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}

.table-bordered caption+ thead tr:first-child th:first-child,
.table-bordered caption+ tbody tr:first-child td:first-child,
.table-bordered colgroup+ thead tr:first-child th:first-child,
.table-bordered colgroup+ tbody tr:first-child td:first-child {
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}

.table-bordered caption+ thead tr:first-child th:last-child,
.table-bordered caption+ tbody tr:first-child td:last-child,
.table-bordered colgroup+ thead tr:first-child th:last-child,
.table-bordered colgroup+ tbody tr:first-child td:last-child {
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}

.pagination ul {
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.pagination ul> li:first-child> a,
.pagination ul> li:first-child> span {
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-topleft: 0px;
}

.pagination ul> li:last-child> a,
.pagination ul> li:last-child> span {
	-webkit-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
}


/* Tabs
=================================================================== */

.tab-menu.nav-tabs {
	*zoom: 1;
	margin-top: -46px;
}

.tab-menu.nav-tabs> li {
	float: right;
}

.tab-menu.nav-tabs {
	border-bottom: none;
}

.tab-menu.nav-tabs> li {
	margin-bottom: -1px;
}

.tab-menu.nav-tabs> li> a {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 16px;
	margin-left: 0px;
	border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.tab-menu.nav-tabs> li> a:hover {
	border: none;
}

.tab-menu.nav-tabs> .active> a {
	color: #555555;
	cursor: default;
	background-color: #fff;
	border: none;
}

.tab-menu.nav-tabs> .active> a:hover {
	background-color: #fafafa;
}


/* Masonry Gallery
=================================================================== */

.masonry-thumb {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 6px;
}


/* Login Box
=================================================================== */

.login-box {
	width: 400px;
	margin: 100px auto;
	background: rgb(245, 245, 245);
	/* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE5JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc3JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY1ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 19%, rgba(255, 255, 255, 1) 77%, rgba(245, 245, 245, 1) 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(245, 245, 245, 1)), color-stop(19%, rgba(255, 255, 255, 1)), color-stop(77%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(245, 245, 245, 1)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 19%, rgba(255, 255, 255, 1) 77%, rgba(245, 245, 245, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 19%, rgba(255, 255, 255, 1) 77%, rgba(245, 245, 245, 1) 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 19%, rgba(255, 255, 255, 1) 77%, rgba(245, 245, 245, 1) 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 19%, rgba(255, 255, 255, 1) 77%, rgba(245, 245, 245, 1) 100%);
	/* W3C */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f5f5f5', GradientType=0);
	/* IE6-8 */
	color: #000;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.15);
}

.login-box .icons {
	text-align: right;
	margin: 20px 15px;
}

.login-box .icons i {
	text-align: right;
	opacity: .2;
	filter: alpha(opacity=20);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	margin: 0px 5px;
}

.login-box .icons i:hover {
	opacity: .8;
	filter: alpha(opacity=80);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.login-box h2 {
	color: #646464;
	margin-left: 30px;
	font-family: monaco;
	font-weight: normal;
}

.login-box h3 {
	color: #646464;
	margin-left: 30px;
	font-family: monaco;
	font-weight: normal;
}

.login-box p {
	margin: 10px 30px;
	font-weight: normal;
}

.login-box .input-prepend {
	background: #fff;
	width: 100%;
	text-align: center;
	padding: 15px 0px;
	border-left: 3px solid #fff;
}

.login-box .input-prepend-focus {
	background: #fcfcfc;
	width: 100%;
	text-align: center;
	padding: 15px 0px;
	border-left: 3px solid #646464;
}

.login-box .add-on {
	border: 1px solid #eee !important;
	background: #fff;
	margin-left: -10px;
}

.login-box .add-on i {
	opacity: .1;
	filter: alpha(opacity=10);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
}

.login-box input[type="text"],
.login-box input[type="password"] {
	border: 1px solid #eee !important;
	color: #aaa;
	border-left: none !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.login-box .remember {
	margin-top: 20px;
	margin-left: 20px;
	float: left;
}

.login-box .button-login {
	margin-top: 20px;
	margin-right: 20px;
	float: right;
}


/* UI - Uniform
=================================================================== */

div.checker {
	margin-top: -4px !important;
}

div.radio {
	margin-top: -4px !important;
}

div.uploader {
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
}


/* UI - Sliders & Progress
=================================================================== */

.ui-slider-handle {
	display: inline-block;
	border: 1px solid #ddd;
	height: 16px;
	width: 16px;
	position: absolute !important;
	background: url("../img/slider_r8.png") no-repeat center center scroll #f4f4f4 !important;
	background: url("../img/slider_r8.png") no-repeat center center scroll, -webkit-linear-gradient(top, #F4F4F4 0%, #F7F7F7 100%) !important;
	background: url("../img/slider_r8.png") no-repeat center center scroll, -moz-linear-gradient(top, #F4F4F4 0%, #F7F7F7 100%) !important;
	background: url("../img/slider_r8.png") no-repeat center center scroll, -o-linear-gradient(top, #F4F4F4 0%, #F7F7F7 100%) !important;
	background: url("../img/slider_r8.png") no-repeat center center scroll, -ms-linear-gradient(top, #F4F4F4 0%, #F7F7F7 100%) !important;
	background: url("../img/slider_r8.png") no-repeat center center scroll, linear-gradient(top, #F4F4F4 0%, #F7F7F7 100%) !important;
	margin-top: -1px !important;
	outline: none !important;
}

.sliderVertical .ui-slider-handle {
	margin: 0px 0px -10px 0px !important;
}

.slider {
	background: #eee !important;
	border: 1px solid #ddd !important;
	height: 10px;
	position: relative;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.slider .ui-slider-range {
	position: absolute;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.sliderVertical {
	background: #eee !important;
	border: 1px solid #ddd !important;
	width: 6px;
	top: auto;
	bottom: auto;
	padding: 15px 3px !important;
	position: relative;
	margin: 8px 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	float: left;
	height: 100px;
	margin-right: 40px;
}

.sliderVertical .ui-slider-range {
	height: 100%;
	width: 100%;
	top: auto;
	bottom: auto;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.ui-slider-range-max {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.ui-slider-range-min {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.sliderVertical .ui-slider-range-max {
	top: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.sliderVertical .ui-slider-range-min {
	bottom: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.progress {
	background: #eee !important;
	border: 1px solid #ddd !important;
	height: 14px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	position: relative;
}

.ui-progressbar-value {
	border-color: transparent;
	height: 100%;
	top: 0px;
	position: absolute;
	left: 0px;
}

.progressBarValue span {
	font-size: 12px;
}

.progressBarValue span.progressCustomValueVal {
	font-size: 18px;
	font-weight: 700;
	padding: 0 5px;
	color: #FA5833;
}

.progressSlim {
	background: #ddd !important;
	height: 12px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	position: relative
}

.tasks .progressSlim {
	overflow: hidden;
	border: none !important;
	height: 12px;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	margin-top: 0px;
}

.tasks .progressSlim .ui-progressbar-value {
	overflow: hidden;
	margin: 0px;
	border: none !important;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.progressSlim .ui-progressbar-value {
	border-color: transparent;
	height: 100%;
	top: 0px;
	position: absolute;
	left: 0px;
}


/* ToDo List
=================================================================== */

.todo ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.todo ul li {
	margin-left: 0px !important;
	padding: 5px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #f6f6f6;
	font-size: 12px;
	position: relative;
}

.todo-actions {
	position: absolute;
	right: 0px;
}

.todo .label {
	position: absolute;
	right: 60px;
}

.todo-actions i {
	opacity: .3;
	filter: alpha(opacity=30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	margin: 2px 5px 0px 5px;
}

.todo-actions i:hover {
	opacity: .6;
	filter: alpha(opacity=60);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

.todo ul li:first-child {
	border-top: 0px;
}

.todo ul li:last-child {
	border-bottom: 0px;
}


/* ToDo List Metro Style
=================================================================== */

.todo.metro ul {
	list-style: none;
	padding: 0px;
	margin: -10px;
}

.todo.metro ul li {
	padding: 8px;
	border-bottom: none;
	font-size: 12px;
	position: relative;
	color: #fff !important;
}

.todo.metro ul li a {
	color: #fff !important;
	text-decoration: none;
	font-size: 14px;
}

.todo.metro ul li strong {
	position: absolute;
	right: 10px;
}

.todo .label {
	position: absolute;
	right: 60px;
}

.todo-actions i {
	opacity: .3;
	filter: alpha(opacity=30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	margin: 2px 5px 0px 5px;
}

.todo-actions i:hover {
	opacity: .6;
	filter: alpha(opacity=60);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

.todo ul li:first-child {
	border-top: 0px;
}

.todo ul li:last-child {
	border-bottom: 0px;
}


/* Skill Bars
=================================================================== */

.skill-bar h5 {
	margin-bottom: 6px;
}

.skill-bar li {
	margin-bottom: 12px;
	list-style: none;
	margin-left: -26px;
	padding-left: 0px;
}

.meter {
	height: 14px;
	position: relative;
	background: #fff !important;
	border: 1px solid #ddd;
}

.meter> span {
	display: block;
	height: 100%;
	position: relative;
	overflow: hidden;
	background: #ddd;
}

.meter> span:after,
.animate> span> span {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
}

.meter> span:after,
.animate> span> spans li.current {}


/* Star Rating
=================================================================== */

.rating {
	unicode-bidi: bidi-override;
	direction: rtl;
	font-size: 30px;
}

.rating span.star,
.rating span.star {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
}

.rating span.star:hover,
.rating span.star:hover {
	cursor: pointer;
}

.rating span.star:before,
.rating span.star:before {
	content: "\f006";
	padding-right: 5px;
	color: #999999;
}

.rating span.star:hover:before,
.rating span.star:hover:before,
.rating span.star:hover~ span.star:before,
.rating span.star:hover~ span.star:before {
	content: "\f005";
	color: #e3cf7a;
}


/* Footer
=================================================================== */

footer {
	min-height: 24px;
	background: #3A3A3A;
	color: #fff !important;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}


/* Sparkline stats
=================================================================== */

.sparkLineStats {
	position: relative;
	margin-bottom: -4px;
}

.sparkLineStats ul {
	margin: 0;
}

.sparkLineStats li {
	margin-bottom: 0;
	line-height: 42px;
	padding-top: 3px;
	font-size: 12px
}

.sparkLineStats li .number {
	font-size: 17px;
	font-weight: 700;
	padding: 0px 0px 0px 2px;
	color: #fff;
}

.sparkLineStats li span:first-child {
	margin-right: 5px;
}

.sparkLineStats h4 {
	position: relative;
	border-bottom: 1px solid #c4c4c4;
	padding-bottom: 0px;
	margin-bottom: 10px;
	line-height: 37px;
	-webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
	box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
}


/* Circle stats
=================================================================== */

.circleStats {
	text-align: center;
	position: relative;
}

.circleStatsItemBox {
	position: relative;
	background: #67C2EF;
	width: 100%;
	min-width: 130px;
	height: 160px;
	padding-top: 40px;
	margin-bottom: 28px;
}

.circleStatsItemBox .header {
	background: rgba(255, 255, 255, 0.2);
	color: rgba(255, 255, 255, 0.9);
	width: 100%;
	height: 20px;
	padding: 5px 0px;
	position: absolute;
	top: 0px;
}

.circleStatsItemBox .footer {
	background: rgba(0, 0, 0, 0.1);
	color: rgba(255, 255, 255, 0.9);
	width: 100%;
	height: 20px;
	padding: 5px 0px;
	position: absolute;
	bottom: 0px;
}

.circleStatsItemBox .footer .count {
	font-size: 12px;
}

.circleStatsItemBox .footer .value {
	font-weight: bold;
}

.circleStatsItemBox .percent {
	font-size: 12px;
	position: absolute;
	top: 110px;
	width: 100%;
	left: 0px;
	text-align: center;
	color: rgba(255, 255, 255, 0.9);
}

.circleStatsItemBox input {
	cursor: default;
	box-shadow: none;
	border: none;
	height: auto;
	position: absolute;
	top: 30px;
	padding: 5px 0px !important;
	border-color: rgba(0, 0, 0, 0.8);
}

.circleStatsItemBox input:focus {
	outline: 0;
	outline: thin dotted 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}


/* Typography - Blockquote
=================================================================== */

blockquote {
	background: url(../img/quote.png) no-repeat 0px 10px;
	font-style: italic;
	border-left: none;
	padding: 0 0 0 30px;
}


/* Icons
=================================================================== */

.the-icons {
	list-style: none;
}

.glyphicons p {
	width: 33%;
	float: left;
	line-height: 44px;
}


/* Page: Messages
=================================================================== */

ul.messagesList {
	list-style: none;
	margin: 0px;
	font-size: 12px;
}

ul.messagesList li {
	background: #f9f9f9;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 5px 10px;
	cursor: pointer;
}

ul.messagesList li .glyphicons {
	padding: 5px 0 5px 25px;
}

ul.messagesList li .glyphicons i:before {
	font-size: 14px;
	margin: -2px 0px 0px 5px;
	color: #3b3b41;
}

ul.messagesList li:nth-child(odd) {
	background: #fff !important;
}

ul.messagesList li.odd {
	background: #fff !important;
}

ul.messagesList li span.from {
	display: inline-block;
	width: 25%;
	white-space: nowrap;
	overflow: hidden !important;
	text-overflow: ellipsis;
}

ul.messagesList li span.title {
	display: inline-block;
	width: 55%;
	font-weight: 300;
	white-space: nowrap;
	overflow: hidden !important;
	text-overflow: ellipsis;
}

ul.messagesList li span.date {
	display: inline-block;
	width: 20%;
	text-align: right;
}